<script src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
:javascript
  function initialize() {
    var mapOptions = {
      zoom: 1,
      center: new google.maps.LatLng(50, 8),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);
    var bounds = new google.maps.LatLngBounds();

    locations = [#{User.all.map{|u|"[#{u.name.to_json}, new google.maps.LatLng(#{u.latitude},#{u.longitude})]" if u.latitude.present? && u.longitude.present?}.compact.join(', ')}]
    for(i in locations) {
      name = locations[i][0]
      loc = locations[i][1]
      marker = new google.maps.Marker({
        map: map,
        animation: google.maps.Animation.DROP,
        position: loc
      });
      bounds.extend(loc);

      var infowindow = new google.maps.InfoWindow({
          content: name
      });

      google.maps.event.addListener(marker, 'click', function() {
        infowindow.open(map,marker);
      });

    }
    map.fitBounds (bounds);
  }
  window.addEventListener('load', initialize)
<div id="map_canvas" style="height:400px;width:150%;margin-left:-25%"></div>
