Hallo <%= firstname %>,

Es gibt Neues bei instALUMNI! Nach knapp zwei Jahren intensiver Entwicklungszeit
kommen nun die ersten Verbesserungen.

Du kannst jetzt die geschriebenen Status-Updates der anderen (und deine eigenen)
anschauen, die Abizeitungs-Fotos von damals begutachten, und neue Fotos hochladen.

Das Wichtigste ist für uns aber immer noch die Sache mit den Kontaktdaten. Denn
wenn mal etwas wirklich Tolles ansteht (und nicht nur Rumklicken auf einer
Webseite), wäre es genial, wenn wir alle ohne drei Monate Vorlaufzeit zusammen
trommeln könnten.

À propos zusammentrommeln: Es gibt jetzt einen Mailverteiler. Schicke eine
Nachricht an mail+instalumni@jonasschneider.com, und alle aus der Stufe kriegen
sie.

Schau doch mal auf deiner Seite vorbei. Dein persönlicher Login-Link lautet:

https://instalumni.herokuapp.com/?auth_token=<%= auth_token %>

Viele Grüße,
der instALUMNI-Roboter
