.container
  %h1 Willkommen.

  %p
    Um dich anzumelden, klicke bitte auf den Link in einer der E-Mails, die du von uns erhalten hast.
    %small.muted (Dieser Link ersetzt ein Passwort. Wenn du keinen Zugriff mehr auf deine Mails hast, sag Bescheid.)
